<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/skills.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/projects.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/edit_profile.css') }}">
    <link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        {% include 'navbar.html' %}
        <section class="hero" id="about-me">
            <div class="intro">
                <div class="profile-container">
                    <img src="{{ url_for('static', filename='img/kirby.png') }}" alt="Foto de perfil" class="profile-photo">
                </div>
        
                <span class="intro-badge">👋 Hi There!</span>
        
                <h1 class="intro-title">
                    I'm <span class="highlight" id="name">{{ current_user.name or 'Fabricio Silveyra' }}</span>
                </h1>
        
                <h2 class="intro-subtitle">
                    A <span class="highlight" id="role">{{ current_user.role or 'Fullstack Developer' }}</span>
                </h2>
        
                <p class="intro-description" id="description">{{ current_user.description or 'I am a student at the Instituto Técnico Renault, 17 years old, and passionate about programming. I prefer backend development and have experience in various technologies to build scalable systems and software solutions.' }}</p>
                
                {% if current_user.is_authenticated %}
                <a href="{{ url_for('main.edit_profile') }}" class="btn-edit-profile">
                    <i class="fas fa-pencil-alt"></i>
                </a>
                {% endif %}
            </div>
        </section>

        <section class="skills" id="skills">
            <h2 class="section-title">My skills</h2>
            <div class="skills-container">
                <div class="skill-card">
                    <h3>Backend Development</h3>
                    <ul>
                        <i class="devicon-python-plain colored"></i>
                        <i class="devicon-flask-original colored"></i>
                        <i class="devicon-nodejs-plain-wordmark colored"></i>
                        <i class="devicon-express-original colored"></i>
                    </ul>
                </div>
                <div class="skill-card">
                    <h3>Frontend Development</h3>
                    <ul>
                        <i class="devicon-html5-plain colored"></i>
                        <i class="devicon-css3-plain colored"></i>
                        <i class="devicon-javascript-plain colored"></i>
                        <i class="devicon-react-original colored"></i>
                        <i class="devicon-bootstrap-plain colored"></i>
                    </ul>
                </div>
                <div class="skill-card">
                    <h3>Databases</h3>
                    <ul>
                        <i class="devicon-mongodb-plain colored"></i>
                        <i class="devicon-mysql-plain colored"></i>
                        <i class="devicon-sqlalchemy-plain colored"></i>
                    </ul>
                </div>
                <div class="skill-card">
                    <h3>Tools and technologies</h3>
                    <ul>
                        <i class="devicon-git-plain colored"></i>
                        <i class="devicon-github-original colored"></i>
                        <i class="devicon-postman-plain colored"></i>
                        <i class="devicon-p5js-original colored"></i>
                        <i class="devicon-discordjs-plain colored"></i>
                        <i class="devicon-arduino-plain colored"></i>
                    </ul>
                </div>
            </div>
        </section>
        <section class="projects" id="projects">
            <h2 class="section-title">Projects</h2>

            <p class="projects-quote">Everything you can <span class="highlight">imagine</span>, you can <span class="highlight">program</span>.</p>

            <div class="projects-container">
                <div class="project-card">
                    <a href="https://github.com/Fabrikpz/aula-virtual" target="_blank" class="project-link">
                        <img src="{{ url_for('static', filename='img/aulavirtual.png') }}" alt="Project 1 Preview" class="project-image">
                    </a>
                    <div class="project-header">
                        <h3 class="project-title">Aula virtual</h3>
                        <a href="https://github.com/Fabrikpz/aula-virtual" class="github-link" target="_blank">
                            <i class="devicon-github-original colored github-icon"></i>
                        </a>
                    </div>
                </div>

                <div class="project-card">
                    <a href="https://proyecto-api-coc.vercel.app/" target="_blank" class="project-link">
                        <img src="{{ url_for('static', filename='img/apicoc.png') }}" alt="Project 2 Preview" class="project-image">
                    </a>
                    <div class="project-header">
                        <h3 class="project-title">API Clash Of Clans</h3>
                        <a href="https://github.com/Fabrikpz/proyecto-api-coc" class="github-link" target="_blank">
                            <i class="devicon-github-original colored github-icon"></i>
                        </a>
                    </div>
                </div>

                <div class="project-card">
                    <a href="https://github.com/Fabrikpz/Juego-de-memoria" target="_blank" class="project-link">
                        <img src="preview2.jpg" alt="Project 2 Preview" class="project-image">
                    </a>
                    <div class="project-header">
                        <h3 class="project-title">Juego de memoria</h3>
                        <a href="https://github.com/Fabrikpz/Juego-de-memoria" class="github-link" target="_blank">
                            <i class="devicon-github-original colored github-icon"></i>
                        </a>
                    </div>
                </div>

                <div class="project-card">
                    <a href="https://4-elements-game.vercel.app/" target="_blank" class="project-link">
                        <img src="{{ url_for('static', filename='img/4elements.png') }}" alt="Project 2 Preview" class="project-image">
                    </a>
                    <div class="project-header">
                        <h3 class="project-title">4 elements game</h3>
                        <a href="https://github.com/Fabrikpz/4-elements-game" class="github-link" target="_blank">
                            <i class="devicon-github-original colored github-icon"></i>
                        </a>
                    </div>
                </div>

                <div class="project-card">
                    <a href="https://github.com/Fabrikpz/Api-Coc-Bot" target="_blank" class="project-link">
                        <img src="{{ url_for('static', filename='img/apicocbot.png') }}" alt="Project 2 Preview" class="project-image">
                    </a>
                    <div class="project-header">
                        <h3 class="project-title">Api CoC Bot</h3>
                        <a href="https://github.com/Fabrikpz/Api-Coc-Bot" class="github-link" target="_blank">
                            <i class="devicon-github-original colored github-icon"></i>
                        </a>
                    </div>
                </div>

                <div class="project-card">
                    <a href="https://github.com/ismael123439/PAG-COPA-RENAULT" target="_blank" class="project-link">
                        <img src="{{ url_for('static', filename='img/coparenault.png') }}" alt="Project 2 Preview" class="project-image">
                    </a>
                    <div class="project-header">
                        <h3 class="project-title">Copa Renault web</h3>
                        <a href="https://github.com/ismael123439/PAG-COPA-RENAULT" class="github-link" target="_blank">
                            <i class="devicon-github-original colored github-icon"></i>
                        </a>
                    </div>
                </div>

                <div class="project-card">
                    <a href="https://github.com/ismael123439/proyecto-nfsmw" target="_blank" class="project-link">
                        <img src="{{ url_for('static', filename='img/nfsmw05.png') }}" alt="Project 2 Preview" class="project-image">
                    </a>
                    <div class="project-header">
                        <h3 class="project-title">NFSMW 05 web</h3>
                        <a href="https://github.com/ismael123439/proyecto-nfsmw" class="github-link" target="_blank">
                            <i class="devicon-github-original colored github-icon"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <section class="contact" id="contact">
            <h2 class="section-title">Contact</h2>
        
            <div class="contact-info">
                <p><strong>Email:</strong> <a href="https://mailto:fabrisilveyra@gmail.com">fabrisilveyra@gmail.com</a><i class="fa-solid fa-copy" onclick="copiarTexto('fabrisilveyra@gmail.com')"></i></p>
                <p><strong>Phone:</strong> +54 9 123 456-7890 <i class="fa-solid fa-copy" onclick="copiarTexto('+54 9 123 456-7890')"></i></p>
                <p><strong>Address:</strong> Calle Rocket 123, League, Argentina</p>
            </div>
        
            <div class="contact-buttons">
                <a href="{{ url_for('static', filename='files/CV_Fabricio_Silveyra.pdf') }}" class="btn" download>
                    Download my CV
                </a>
            </div>
        
            <div class="social-links">
                <a href="https://linkedin.com/" aria-label="Linkedin"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://github.com/Fabrikpz" aria-label="Github"><i class="fa-brands fa-github"></i></a>
                <a href="https://instagram.com/fabrieiw" aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a>
            </div>
        
            <div class="contact-image">
                <a href="https://instagram.com/fabrieiw" target="_blank">
                    <img src="{{ url_for('static', filename='img/carrocket.png')}}" alt="Imagen de contacto">
                </a>
            </div>
        </section>
        
        
    </div>

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
</body>

</html>