<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        {% include 'navbar.html' %}
        <section class="hero">
            <div class="intro">
                <div class="profile-container">
                    <img src="{{ url_for('static', filename='img/kirby.png') }}" alt="Foto de perfil" class="profile-photo">
                </div>

                <span class="intro-badge">👋 Hi There!</span>

                <h1 class="intro-title">
                    I'm <span class="highlight">Fabricio Silveyra</span>
                </h1>

                <h2 class="intro-subtitle">
                    A <span class="highlight">Fullstack Developer</span>
                </h2>

                <p class="intro-description">
                    I am a student at the Instituto Técnico Renault, 17 years old, and passionate about programming. 
                    I prefer backend development and have experience in various technologies to build scalable systems and software solutions.
                </p>
            </div>
        </section>
    </div>
</body>
</html>
